@model int

<div class="container text-center mt-5">
    
        <h2 class="text-success">✅ Đặt hàng thành công!</h2>
        <p class="mt-3">Cảm ơn bạn đã mua sắm tại cửa hàng của chúng tôi. </p>
        <p> Mã đơn hàng của bạn: <strong class="text-primary">#@Model</strong></p>

        <div class="mt-4">
            <a href="/" class="btn btn-primary btn-lg">🏠 Quay lại trang chủ</a>
        </div>
   
</div>
